<section id="gaming">
  <div class="container">
    <ul class="link">
        <li><a href="#">Account</a></li>
        <span>/</span>
        <li><a href="#">Gaming</a></li>
        <span>/</span>
        <li><a href="#">Havic HV G-92 Gamepad</a></li>
      </ul>

      <div class="details">
        <div class="alt_imgs" >
            <img src="assets/gaming/1.png" alt="gaming">
            <img src="assets/gaming/2.png" alt="gaming">
            <img src="assets/gaming/3.png" alt="gaming">
            <img src="assets/gaming/4.png" alt="gaming">

        </div>

        <div class="main_img">
            <img [src]="details.imgurl" alt="main_gaming">
        </div>



        <div class="info_heading">
            <div class="title_gaming">
                <h2>{{details.title}}</h2>
                <div class="assess">
                    <div class="icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <div class="reviews">
                        <p>(150 Reviews)</p>
                        <span>In Stock</span>

                    </div>
                </div>
            </div>
            <div class="body_gaming">
                <h4 class="price">${{details.price}}</h4>
                <p class="datail_gaming">{{details.details}}</p>
                
            </div>
            <div class="line"></div>

            <div class="colors_sizes">
                <div class="colors">
                    <h4>colours:</h4>
                    <div class="points">
                        <span class="active"></span>
                        <span></span>

                    </div>

                </div>

                <div class="sizes">
                    <h4>size:</h4>
                    <div class="size_gaming">
                        <span>xs</span>
                        <span>s</span>
                        <span>m</span>
                        <span>l</span>
                        <span>xl</span>

                    </div>
                </div>
                <form class="buys">
                    <div class="quantity">
                        <button type="button">-</button>
                        <input type="number" value="2">
                        <button type="button">+</button>
                    </div>

                    <button class="buy_now">Buy Now</button>
                    <i class="far fa-heart"></i>



                </form>
                 
            </div>

            <div class="delevery">
                <div class="box">
                    <img src="assets/gaming/icon-delivery.png" alt="delivery">
                    <div class="title">
                        <h5>Free Delivery</h5>
                        <p>Enter your postal code for Delivery Availability</p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="box">
                    <img src="assets/gaming/Icon-return.png" alt="delivery">
                    <div class="title">
                        <h5>Return Delivery</h5>
                        <p>Free 30 Days Delivery Returns. Details</p>
                    </div>
                </div>
            </div>

        </div>
      </div>

  </div>
</section>


<section id="related_item">
    <div class="container">
        <div class="glopal_heading">
            <div class="head">
              <span></span>
              <h3>Related Item</h3>
            </div>
          </div>
    

          <div class="carts_discount"> 
            <!-- <swiper-wrapper class="carts_discount" > -->
             
              <div class="cart">
                <div class="head_cart">
                  <span class="discount">-40%</span>
        
                  <div class="icons">
                    <i class="bx bx-heart"></i>
                    <i class="bx bxs-bullseye"></i>
                  </div>
        
                  <img src="assets/home/todays1.png" alt="today" />
                  <a href="#" class="addcart">Add To Cart</a>
                </div>
                <div class="body_cart">
                  <h3>HAVIT HV-G92 Gamepad</h3>
                  <p class="price">$120 <span class="discount">$160</span></p>
                  <div class="star">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <span class="count">(88)</span>
                  </div>
                </div>
              </div>
        
              <div class="cart">
                <div class="head_cart">
                  <span class="discount">-35%</span>
        
                  <div class="icons">
                    <i class="bx bx-heart"></i>
                    <i class="bx bxs-bullseye"></i>
                  </div>
        
                  <img src="assets/home/todays2.png" alt="today" />
                  <a href="#" class="addcart">Add To Cart</a>
                </div>
                <div class="body_cart">
                  <h3>HAVIT HV-G92 Gamepad</h3>
                  <p class="price">$120 <span class="discount">$160</span></p>
                  <div class="star">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <span class="count">(88)</span>
                  </div>
                </div>
              </div>
        
              <div class="cart">
                <div class="head_cart">
                  <span class="discount">-30%</span>
        
                  <div class="icons">
                    <i class="bx bx-heart"></i>
                    <i class="bx bxs-bullseye"></i>
                  </div>
        
                  <img src="assets/home/todays3.png" alt="today" />
                  <a href="#" class="addcart">Add To Cart</a>
                </div>
                <div class="body_cart">
                  <h3>HAVIT HV-G92 Gamepad</h3>
                  <p class="price">$120 <span class="discount">$160</span></p>
                  <div class="star">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star no-active"></i>
                    <i class="bx bxs-star no-active"></i>
                    <span class="count">(88)</span>
                  </div>
                </div>
              </div>
        
              <div class="cart">
                <div class="head_cart">
                  <span class="discount">-25%</span>
        
                  <div class="icons">
                    <i class="bx bx-heart"></i>
                    <i class="bx bxs-bullseye"></i>
                  </div>
        
                  <img src="assets/home/todays4.png" alt="today" />
                  <a href="#" class="addcart">Add To Cart</a>
                </div>
                <div class="body_cart">
                  <h3>HAVIT HV-G92 Gamepad</h3>
                  <p class="price">$120 <span class="discount">$160</span></p>
                  <div class="star">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star no-active"></i>
                    <span class="count">(88)</span>
                  </div>
                </div>
              </div>
          </div>
     
    </div>
</section>
