<footer>
    <div class="container">
        <div class="exclu">
            <h3>exclusive</h3>
            <h4>subscripe</h4>
            <p>Get 10% off your first order</p>
            <div class="inp_exclu">
                <input type="text" placeholder="Enter Your Email">
                <i class='bx bx-send' ></i>
            </div>

        </div>
        <div class="support">
            <h3>Support</h3>
            <ul>
                <li><a href="#">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</a></li>
                <li><a href="mailto:exclusive{{email}}.com">exclusive{{email}}.com</a></li>
                <li><a href="tel:+88015-88888-9999">+88015-88888-9999</a></li>
            </ul>
           

        </div>
        <div class="account">
            <h3>Account</h3>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Login / Register</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Shop</a></li>
               
            </ul>

        </div>
        <div class="link">
            <h3>Quick Link</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>

            </ul>

        </div>
        <div class="Download">
            <h3>Download App</h3>
            <p>Save $3 with App New User Only</p>
            <div class="img_down">
                <img src="assets/qrcode.jpeg" alt="">
                <div class="app_img">
                    <img src="assets/play.png" alt="" srcset="">
                    <img src="assets/store.png" alt="" srcset="">
                </div>
            </div>
            <ul class="down_ico">
                <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
                <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
                <li><a href="#"><i class='bx bxl-linkedin' ></i></a></li>
            </ul>

        </div>
       
        </div>
    <!-- </div> -->
    <p class="created">&copy; Copyright Rimel 2022. All right reserved</p>
</footer>
