<section class="wishlist">
    <div class="container">
        <div class="head">
            <h3>wishlist(4)</h3>
            <a href="#">move All To Bag</a>
        </div>

        <div class="carts_wishlist">
            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="discout">-35%</div>
                        <div class="icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/1.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        
                        <div class="icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/2.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                      
                    </div>
                    <img src="assets/wishlist/3.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/4.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>





        </div>

     



       </div>
</section>


<section class="wishlist">
    <div class="container">
        <div class="head">
            <div class="title">
                <span></span>
                <h3>Just For You</h3>
            </div>
            
            <a href="#" class="see">see All</a>
        </div>


        
        <div class="carts_wishlist carts2">
            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="discout">-35%</div>
                        <div class="icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/5.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/6.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="new">new</div>
                        <div class="icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                      
                    </div>
                    <img src="assets/wishlist/7.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>

            <div class="cart">
                <div class="head_cart">

                    <div class="dis_del">
                        <div class="icon">
                            <i class="fa-regular fa-eye"></i>
                        </div>
                        
                    </div>
                    <img src="assets/wishlist/8.png" alt="">

                    <div class="add_cart">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> add to cart</a>
                        
                    </div>
                </div>
                <div class="body_cart">
                    <h5>Gucci duffle bag</h5>
                    <div class='total_price'>
                        <p class="price">$960</p>
                        <p class="discout">$1160</p>
                    </div>
                </div>
            </div>





        </div>


    </div>
    

</section>