<section id="login">
    <div class="container">
        <div class="image">
            <img src="assets/signup/1.png" alt="" />
          </div>
          <form>
            <h2>Log in to Exclusive</h2>
            <p>Enter your details below</p>
            <input type="text" placeholder="Email Or Phone Number" />
            <input type="password" placeholder="password" />
            <div class="btns">
                <button type="submit">Log In</button>
                <a href="#" class="forgetpassword">Forget Password?</a>
            </div>
          
          </form>
    </div>

</section>
