<section id="myaccount">
    <div class="container">
        <ul class="link">
            <li><a routerLink="/">home</a></li>
            <span>/</span>
            <li><a routerLink="/myaccount">my account</a></li>
            <li class="last"><a href="#">welcome! <span>md rime!</span></a></li>
          </ul>


          <div class="manage_account">
            <div class="left">
                <div class="box">
                    <h3>Manage My Account</h3>
                    <ul class="list">
                        <li><a href="#" class="active">My Profile</a></li>
                        <li><a href="#">Address Book</a></li>
                        <li><a href="#">My Payment Options</a></li>

                    </ul>
                </div>
                <div class="box">
                    <h3>My Orders</h3>
                    <ul class="list">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Address Book</a></li>
                        <li><a href="#">My Payment Options</a></li>

                    </ul>
                </div>
                <div class="box">
                    <h3>My WishList</h3>
                </div>
            </div>



            <form class="right">
                <h2>Edit Your Profile</h2>

<div class="flexes">
    <div class="info">
        <label for="">First Name</label>
        <input type="text" placeholder="Md">
    </div>


    <div class="info">
        <label for="">Last Name</label>
        <input type="text" placeholder="Rimel">
    </div>

</div>

<div class="flexes">
    <div class="info">
        <label for="">Email</label>
        <input type="text" placeholder="rimel1111@gmail.com">
    </div>
    <div class="info">
        <label for="">Address</label>
        <input type="text" placeholder="Kingston, 5236, United State">
    </div>
</div>


                <div class="passwords">
                    <label for="">Password Changes</label>
                    <input type="password" name="" placeholder="Current Passwrod" id="">
                    <input type="password" name="" placeholder="New Password" id="">
                    <input type="password" name="" placeholder="CConfirm New Password" id="">
                </div>
                <div class="btns">
                    <a href="#">cancel</a>
                    <button type="submit" >Save Changes</button>
                </div>
               
            </form>
          </div>
      
      
    </div>

</section>
